a {

    &.header_stores_import {
        padding-left: 25px;
        background: url("import.svg") no-repeat 7px center;
        background-size: 12px;
    }
    &.header_fill_coordinates {
        padding-left: 25px;
        background: url("coords1.svg") no-repeat 7px center;
        background-size: 12px;
    }
}

fieldset.tl_box .heightAuto {
	height: auto;
}

#pal_config_legend {

    #ctrl_storelocator_search_in,
    #ctrl_storelocator_sortable {
        display: block;
        max-height: 255px;
    }
    #ctrl_storelocator_search_in .sortable,
    #ctrl_storelocator_sortable .sortable {
        max-height: 195px;
        width: 97%;
        overflow-y: scroll;
    }
}

.widget .opening_times {

    table {

        width: 100%;

        tr {

            &:nth-child(1) td.operations a[rel="up"],
            &:nth-child(2) td.operations a[rel="up"],
            &:nth-last-child(1) td.operations a[rel="down"] {
            	cursor: default;
            	pointer-events: none;
                opacity: 0.5;
            }

            th {
                white-space: nowrap;
            }

            th, td {

                padding-bottom: 0.25rem;

                &:nth-child(2), &:nth-child(3) { width: 65px; }
                &:nth-child(4), &:nth-child(5) { width: 100px; text-align: center; }
                &:nth-last-child(1) { width: 60px; }

                select, input:not([type="checkbox"]) {
                    width: calc(100% - 10px) !important;
                    margin: 0;
                }

                &.wizard {
                    select, input:not([type="checkbox"]) {
                        width: calc(100% - 35px) !important;
                    }
                }
            }

            .tl_checkbox_single_container {

                display: inline-block;
                margin-top: unset;
                height: unset;

                label {
                    display: none;
                }
            }
        }

        .operations {

            a {
                display: inline-block;
            }

            .widgetImage.sl_flip img {
                transform: rotate(180deg);
            }
        }
    }
}

[data-contao--toggle-fieldset-id-value="geo_legend"],
#pal_geo_legend {

    .sl-display-map:not(.widget-group > .sl-display-map) {
        float: left;
        width: calc(50% - 30px);
    }

    .sl-display-map {

        position: relative;
        z-index: 1;

        height: 150px;

        display: flex;
        justify-content: center;

        img, .img {

            display: block;
            background: #f6f6f6;
            max-width: 100%;
            height: 150px;
            width: 100%;
            object-fit: cover;
            margin-top: 15px;
        }

        img {
            margin-inline: auto;
        }

        .img {

            display: flex;
            justify-content: center;
            align-items: center;

            p {
                text-align: center;
                line-height: 1.4;
                max-width: 80%;
            }
        }

        img.dark {
            display: none;
        }

        #map-canvas {

            width: 100%;
            height: 100%;

            .leaflet-shadow-pane, .leaflet-marker-pane {

                img {
                    background: transparent !important;
                }
            }
        }

        @media( max-width: 767px ) {

            float: none;
            width: calc(100% - 30px);
        }
    }

    .widget.clr {

        .tl_help {
            margin-top: 15px;
        }
    }
}

#tl_csv_import_importStores {

    p + p {
        margin-top: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.widget-group:has(.sl-display-map) {

    grid-auto-flow: row dense;

    .widget.sl-display-map {

        grid-row: span 2;
        float: unset;
        width: unset;

        --widget-cols: 6;

        @media( max-width: 767px ) {

            float: unset;
            width: unset;

            --widget-cols: var(--widget-col-amount);
        }
    }
}

html[data-color-scheme="dark"] {

    [data-contao--toggle-fieldset-id-value="geo_legend"],
    #pal_geo_legend {

        img, .img {

            background: #222f3e;
            background: var(--code-bg);
            color: #fff;
        }
    }

    .sl-display-map {

        img {

            &:not(.dark) { display: none; }
            &.dark { display: unset; }
        }
    }
}