a.header_stores_import {
    padding-left: 25px;
    background: url("import.svg") no-repeat 7px center;
    background-size: 12px;
}

a.header_fill_coordinates {
    padding-left: 25px;
    background: url("coords1.svg") no-repeat 7px center;
    background-size: 12px;
}

fieldset.tl_box .heightAuto {
    height: auto;
}

#pal_config_legend #ctrl_storelocator_search_in,
#pal_config_legend #ctrl_storelocator_sortable {
    display: block;
    max-height: 255px;
}

#pal_config_legend #ctrl_storelocator_search_in .sortable,
#pal_config_legend #ctrl_storelocator_sortable .sortable {
    max-height: 195px;
    width: 97%;
    overflow-y: scroll;
}

.widget .opening_times table {
    width: 100%;
}

.widget .opening_times table tr:nth-child(1) td.operations a[rel="up"],
.widget .opening_times table tr:nth-child(2) td.operations a[rel="up"],
.widget .opening_times table tr:nth-last-child(1) td.operations a[rel="down"] {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.widget .opening_times table tr th, .widget .opening_times table tr td {
    padding-bottom: 4px;
}

.widget .opening_times table tr th:nth-child(4), .widget .opening_times table tr td:nth-child(4) {
    width: 55px;
}

.widget .opening_times table tr th:nth-child(2), .widget .opening_times table tr th:nth-child(3), .widget .opening_times table tr td:nth-child(2), .widget .opening_times table tr td:nth-child(3) {
    width: 65px;
}

.widget .opening_times table tr th select, .widget .opening_times table tr th input, .widget .opening_times table tr td select, .widget .opening_times table tr td input {
    display: block;
    width: calc(100% - 10px) !important;
    margin: 0;
}

#pal_geo_legend .sl-google-map {
    float: left;
    width: calc(50% - 30px);
}

#pal_geo_legend .sl-google-map img, #pal_geo_legend .sl-google-map .img {
    display: block;
    background: #f6f6f8;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 15px;
}

@media (max-width: 767px) {
    #pal_geo_legend .sl-google-map {
        float: none;
        width: calc(100% - 30px);
    }
}
