a.header_stores_import {
	padding-left: 25px;
	background: url("import.png") no-repeat 7px center;
    background-size: 12px;
}
a.header_fill_coordinates {
	padding-left: 25px;
	background: url("coords1.png") no-repeat 7px center;
    background-size: 12px;
}
.opening_times > table {
	width: 100%;
}
.opening_times > table tr {
	height: 1.5rem;
}
.opening_times > table tr:nth-child(1) {
	height: 1rem;
}
.opening_times > table tr td:nth-child(1) {
	width: 490px;
}
.opening_times > table tr td:nth-child(2),
.opening_times > table tr td:nth-child(3) {
	padding-top: 4px;
	width: 70px;
}
.opening_times > table tr:nth-child(1) td.operations a[rel="up"],
.opening_times > table tr:nth-child(2) td.operations a[rel="up"],
.opening_times > table tr:nth-last-child(1) td.operations a[rel="down"] {
	cursor: default;
	pointer-events: none;
}

#pal_config_legend .heightAuto {
	height: auto;
}
#pal_config_legend #ctrl_storelocator_search_in,
#pal_config_legend #ctrl_storelocator_sortable {
    display: block;
    max-height: 255px;
}
#pal_config_legend #ctrl_storelocator_search_in .sortable,
#pal_config_legend #ctrl_storelocator_sortable .sortable {
    max-height: 195px;
    width: 97%;
    overflow-y: scroll;
}
